// Light
$White: #fdfdfd;
$Orange: rgb(255, 149, 0);
$Green: rgb(52, 199, 89);
$Cyan: rgb(50, 173, 230);
$Blue: rgb(0, 122, 255);
$Indigo: rgb(88, 86, 214);
$Gray: rgb(229, 229, 234);
$Light-accent: rgb(58, 58, 60);

//Dark